.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f6fa;
}

.title {
  text-align: center;
  font-weight: 400;
  padding-top: 24px;
  font-family: Livvic, sans-serif;
  color: #2b1b9a;
  margin-bottom: 80px;
}
.single_card {
  grid-template-rows: 197px 12px auto;
  display: grid;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 22px 60px #2b1b9a0f;
  grid-template-areas:
    "image"
    "."
    "content";
    padding: 40px;
    text-align: center;
}
.image_container {
  position: relative;
  height: 197px;
  grid-area: image;
}

.content_area {
    grid-area: content;
}
.card_title{
    font-family: Livvic,sans-serif;
    font-weight: 600;
    color: #2b1b9a;
    margin-bottom: 0.5em;font-size: 24px;
    line-height: 32px;
}
.text{
    color: #5f5572;
    font-size: 14px;
    line-height: 20px;
    line-height: 24px;
    min-height: 6em;
    font-family: Asap,sans-serif;
}
.price{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 28px;
    color: #9d91f5;
    font-family: Asap,sans-serif;
}
.amount{
    color: #2b1b9a;    font-size: 24px;
    line-height: 32px;
}
.action{
    display: flex;
    margin-top: 50px;justify-content: center;    align-items: center;
    flex-direction: column;
    gap:20px
}
.view_details {
    color: #2b1b9a;
    background-color: #fff;    cursor: pointer;
    border: none;
    outline: 0;
    font-family: Livvic,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .07em;
    box-shadow: 0 12px 30px #2b1b9a14;
    border-radius: 8px;
    padding: 18px 32px;
    text-transform: uppercase;
    transition: all .3s,color .3s;
    min-width: 190px;
    display: block;
}
.view_details:hover{
    color: #2b1b9a !important;
    background-color: #f5f4fd;
}
.order_now{
    min-width: 190px;
    display: block;
    cursor: pointer;
    border: none;
    outline: 0;
    font-family: Livvic,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .07em;
    box-shadow: 0 12px 30px #2b1b9a14;
    border-radius: 8px;
    padding: 18px 32px;
    text-transform: uppercase;
    color: #fff;
    background-color: #67b6f4;
    transition: all .3s,color .3s;
}


.order_now:hover{
    color: #fff !important;
    background-color: #9d91f5;
}